/*
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles
*/

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
ul {
  margin: 0;
}

/* Base Styles */
body {
  font-family: 'Libre Franklin', sans-serif;
  min-height: calc(100vh - 5rem);
  position: relative;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: 80%;
  margin-inline: auto;
  max-width: 1025px;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Mobile Styles */

/** Header */
.header {
  text-align: center;
  margin-block-start: 5rem;
}

.header img {
  width: 60px;
}

.header h1 {
  margin-block: 3rem 1.5rem;
  font-size: 22px;
}

.header .fw-light {
  font-weight: 300;
}

/** Main */
.form input[type='email'] {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  margin-block: 0.5rem;
  border-radius: 51px;
  border: 1px solid hsl(223, 100%, 88%);
}

.form button[type='submit'] {
  display: block;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
  margin-block-end: 0.5rem;
  border-radius: 51px;
  background: hsl(223, 87%, 63%);
  color: white;
  border: none;
  box-shadow: 0px 5px 12px 4px rgba(154, 180, 204, 0.49);
  -webkit-box-shadow: 0px 5px 12px 4px rgba(154, 180, 204, 0.49);
  -moz-box-shadow: 0px 5px 12px 4px rgba(154, 180, 204, 0.49);
}

.illustration {
  margin-block-start: 2rem;
}

/** Footer */
.footer {
  text-align: center;

  margin-block-start: 6rem;
  padding-block-end: 1rem;
}

.footer .socials {
  list-style: none;
  padding: 0;
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer .social__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 50%;
}

.footer a {
  color: hsl(223, 87%, 63%);
}
